/.vscode
**/__pycache__
/rhythm/PatternMining/data



/rhythm/DivisionMethods/dataset/*.csv
/rhythm/static/rhythm/img/generated/*.png

/rhythm/DivisionMethods/generated/
/rhythm/DivisionMethods/try_interface_to_methods/*.csv
/rhythm/DivisionMethods/except_interface_to_methods/*.csv
/rhythm/DivisionMethods/try_process_upload_original/*.csv
/rhythm/DivisionMethods/except_process_upload_original/*.csv

/rhythm/PatternMining/dataset/*.csv
/rhythm/PatternMining/dataset/*.txt
/rhythm/PatternMining/try_process_upload_od/*.csv
/rhythm/PatternMining/except_process_upload_od/*.csv
/rhythm/PatternMining/try_process_upload_sequence/*.csv
/rhythm/PatternMining/except_process_upload_sequence/*.csv
/rhythm/PatternMining/runner.py
