{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>大数据集成可视化平台</title>
<meta name="keywords" content="大数据集成可视化平台" />
<meta name="description" content="数据集成可视化平台，主界面提供基本信息统计与可视化，子界面提供多元关联规则发现工具与时空多粒度划分工具的交互操作" />
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />
<!-- <link rel="stylesheet" href="css/base.css"> -->
<link rel="icon" href="{% static 'rhythm/img/connected-car.jpg' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rhythm/css/base.css' %}">
</head>

<body>
<!--顶部-->
<header class="header left">
  <div class="left nav">
    <ul>
      <li class="nav_active"> <i class="nav_1"></i><a href="{% url 'rhythm:index' %}">时空多粒度划分工具</a> </li>
    </ul>
  </div>
  <div class="header_center left">
    <h2><strong>大数据集成可视化平台</strong></h2>
    <p class="color_font"><small>Large Data Visualization Platform</small></p>
  </div>
  <div class="right nav text_right">
    <ul>
      <li><i class="nav_7"></i><a href="{% url 'rhythm:index_association' %}">多元关联规则发现工具</a> </li>
    </ul>
  </div>
</header>
<!--内容部分-->
<div class="con left">
<!--解释-->
<div class="select_time">
  <div class="static_top left"> <i></i><span>各项指标</span> </div>
</div>
<!--数据总概-->
<div class="con_div">
  <div class="con_div_text left margin_con_div_text">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>信息熵</p>
        <p>
          <label id="information_entropy"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>方差</p>
        <p>
          <label id="varience"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>标准差</p>
        <p>
          <label id="standard_deviation"></label>
        </p>
      </div>
    </div>
  </div>
  <div class="con_div_text left margin_con_div_text">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>均值</p>
        <p class="sky">
          <label id="mean"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>最大值</p>
        <p class="sky">
          <label id="max"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>最小值</p>
        <p class="sky">
          <label id="min"></label>
        </p>
      </div>
    </div>
  </div>
  <div class="con_div_text left">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>偏度</p>
        <p class="org">
          <label id="skew"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>峰度</p>
        <p class="org">
          <label id="kurtosis"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>数目</p>
        <p class="org">
          <label id="len"></label>
        </p>
      </div>
    </div>
  </div>
</div>

<!--多粒度划分工具-->
<div class="div_table">
  <div class="div_toolbar left">
    <form id="form1">
      {% csrf_token %}
      <div class="div_table_box ">
        <div class="div_any_child">
          <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">工具一览 </div>
          <div class="table_p">
            <table width="100%">
              <thead>
                <tr>
                  <th width="20%">序号</th>
                  <th width="40%">方法</th>
                  <th width="40%">参数</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1&nbsp;
                    <input type="radio" name="method" value="method1" onclick="onchangeradio(this,1)"></td>
                  <td>二维等网络</td>
                  <td><input type="number" name="method1" id="method1" min="5" max="30" step="5" value="5" class="hide" /></td>
                </tr>
                <tr>
                  <td>2&nbsp;
                    <input type="radio" name="method" value="method2" onclick="onchangeradio(this,2)" /></td>
                  <td>空间kdtree</td>
                  <td><input type="number" name="method2" id="method2" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>3&nbsp;
                    <input type="radio" name="method" value="method3" onclick="onchangeradio(this,3)" /></td>
                  <td>三维等网络</td>
                  <td><input name="method3" id="method3" type="number" min="2" max="20" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>4&nbsp;
                    <input type="radio" name="method" value="method4" onclick="onchangeradio(this,4)" /></td>
                  <td>三维kdtree</td>
                  <td><input type="number" name="method4" id="method4" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>5&nbsp;
                    <input type="radio" name="method" value="method5" onclick="onchangeradio(this,5)" /></td>
                  <td>三维细分合并</td>
                  <td><input type="number" name="method5" id="method5" min="5" max="30" value="5" step="5" class="hide" /></td>
                </tr>
                <tr>
                  <td>6&nbsp;
                    <input type="radio" name="method" value="method6" onclick="onchangeradio(this,6)" /></td>
                  <td>先时间再空间</td>
                  <td><input type="number" name="method6_1" id="method6_1" min="2" max="24" step="1" value="2" class="hide" />
                    <input type="number" name="method6_2" id="method6_2" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>7&nbsp;
                    <input type="radio" name="method" value="method7" onclick="onchangeradio(this,7)" /></td>
                  <td>先空间再时间</td>
                  <td><input type="number" name="method7_1" id="method7_1" min="3" max="10" step="1" value="3" class="hide" />
                    <input type="number" name="method7_2" id="method7_2" min="3" max="10" step="1" value="3" class="hide" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="div_table_box">
        <div class="div_any_child_toolbar">
          <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">选择数据集</div>
          <div class="table_p">
            <table>
              <thead>
                <tr>
                  <th><input type="file"  id="csv_input" name="csv_file" onchange="importf(this)" accept=".csv"/></th>
                  <!--
                  <th>dataset1&nbsp;
                    <input type="radio" name="dataset" value="dataset1.csv" /></th>
                  <th>dataset2&nbsp;
                    <input type="radio" name="dataset" value="dataset2.csv" /></th>
--> 
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="bottom1">
        <input type="button" value="运行" onClick="sumbit_data()">
      </div>
    </form>
  </div>
  <div class="left div_any01">
    <div class="div_img">
      <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">分析结果展示 </div>
      <div id="div_img_show"><img id="final_image" class="images" src="{% static 'rhythm/img/instruction.png' %}"></div>
    </div>
  </div>
  <!--	数据展示表格--> 
</div>
<div class="div_table_box_showdata">
  <div class="div_any_child_toolbar_showdata">
    <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">数据展示</div>
    <div class="table_showdata table_p">
      <table >
		   <thead>
                <tr>
                  <th>data_time</th><th>longitude</th><th>latitude</th><th>data_time</th><th>longitude</th><th>latitude</th><th>data_time</th><th>longitude</th><th>latitude</th>
                </tr>
              </thead>
		  <tbody id="demo">
		  </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'rhythm/js/jquery/jQuery-2.2.0.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/running_ontime/data_division.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/running_ontime/xlsx.core.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/running_ontime/ajaxfileupload.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_pie.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_road_section.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_line.js' %}"></script> 
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j&callback"></script> 
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
</body>
</html>