{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>大数据集成可视化平台</title>
<meta name="keywords" content="大数据集成可视化平台" />
<meta name="description" content="数据集成可视化平台，主界面提供基本信息统计与可视化，子界面提供多元关联规则发现工具与时空多粒度划分工具的交互操作" />
<meta name="author" content="js代码(www.jsdaima.com)" />
<meta name="copyright" content="js代码(www.jsdaima.com)" />
<!-- <link rel="stylesheet" href="css/base.css"> -->
<link rel="icon" href="{% static 'rhythm/img/connected-car.jpg' %}">
<link rel="stylesheet" type="text/css" href="{% static 'rhythm/css/base.css' %}">
</head>

<body>
<!--顶部-->
<header class="header left">
  <div class="left nav">
    <ul>
      <li class="nav_active"> <i class="nav_1"></i><a href="index.html">时空多粒度划分工具</a> </li>
    </ul>
  </div>
  <div class="header_center left">
    <h2><strong>大数据集成可视化平台</strong></h2>
    <p class="color_font"><small>Large Data Visualization Platform</small></p>
  </div>
  <div class="right nav text_right">
    <ul>
      <li><i class="nav_7"></i><a href="index_association">多元关联规则发现工具</a> </li>
    </ul>
  </div>
</header>
<!--内容部分-->
<div class="con left">
<!--选择时间-->
<div class="select_time">
  <div class="static_top left"> <i></i><span>各项指标</span> </div>
</div>
<!--数据总概-->
<div class="con_div">
  <div class="con_div_text left margin_con_div_text">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>信息熵</p>
        <p>
          <label id="information_entropy"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>方差</p>
        <p>
          <label id="varience"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>标准差</p>
        <p>
          <label id="standard_deviation"></label>
        </p>
      </div>
    </div>
  </div>
  <div class="con_div_text left margin_con_div_text">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>均值</p>
        <p class="sky">
          <label id="mean"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>最大值</p>
        <p class="sky">
          <label id="max"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>最小值</p>
        <p class="sky">
          <label id="min"></label>
        </p>
      </div>
    </div>
  </div>
  <div class="con_div_text left">
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>偏度</p>
        <p class="org">
          <label id="skew"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>峰度</p>
        <p class="org">
          <label id="kurtosis"></label>
        </p>
      </div>
    </div>
    <div class="con_div_text01 left">
      <div class="text01_div">
        <p>数目</p>
        <p class="org">
          <label id="len"></label>
        </p>
      </div>
    </div>
  </div>
</div>

<!--分析表格-->
<div class="div_table">
  <div class="div_toolbar left">
    <form id="form1">
      {% csrf_token %}
      <div class="div_table_box ">
        <div class="div_any_child">
          <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">工具一览 </div>
          <div class="table_p">
            <table width="100%">
              <thead>
                <tr>
                  <th width="20%">序号</th>
                  <th width="40%">方法</th>
                  <th width="40%">参数</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1&nbsp;
                    <input type="radio" name="method" value="method1" onclick="onchangeradio(this,1)"></td>
                  <td>二维等网络</td>
                  <td><input type="number" name="method1" id="method1" min="5" max="30" step="5" value="5" class="hide" /></td>
                </tr>
                <tr>
                  <td>2&nbsp;
                    <input type="radio" name="method" value="method2" onclick="onchangeradio(this,2)" /></td>
                  <td>空间kdtree</td>
                  <td><input type="number" name="method2" id="method2" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>3&nbsp;
                    <input type="radio" name="method" value="method3" onclick="onchangeradio(this,3)" /></td>
                  <td>三维等网络</td>
                  <td><input name="method3" id="method3" type="number" min="2" max="20" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>4&nbsp;
                    <input type="radio" name="method" value="method4" onclick="onchangeradio(this,4)" /></td>
                  <td>三维kdtree</td>
                  <td><input type="number" name="method4" id="method4" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>5&nbsp;
                    <input type="radio" name="method" value="method5" onclick="onchangeradio(this,5)" /></td>
                  <td>三维细分合并</td>
                  <td><input type="number" name="method5" id="method5" min="5" max="30" value="5" step="5" class="hide" /></td>
                </tr>
                <tr>
                  <td>6&nbsp;
                    <input type="radio" name="method" value="method6" onclick="onchangeradio(this,6)" /></td>
                  <td>先时间再空间</td>
                  <td><input type="number" name="method6_1" id="method6_1" min="2" max="24" step="1" value="2" class="hide" />
                    <input type="number" name="method6_2" id="method6_2" min="2" max="10" step="1" value="2" class="hide" /></td>
                </tr>
                <tr>
                  <td>7&nbsp;
                    <input type="radio" name="method" value="method7" onclick="onchangeradio(this,7)" /></td>
                  <td>先空间再时间</td>
                  <td><input type="number" name="method7_1" id="method7_1" min="3" max="10" step="1" value="3" class="hide" />
                    <input type="number" name="method7_2" id="method7_2" min="3" max="10" step="1" value="3" class="hide" /></td>
                </tr>
                <tr>
                  <td>8&nbsp;
                    <input type="radio" name="method" value="method8" onclick="onchangeradio(this,8)"></td>
                  <td>关系图</td>
                  <td><input type="number" name="method8_1" id="method8_1" min="2" max="8" step="1" value="2" class="hide" />
                    <select name="method8_2" id="method8_2" class="hide" form="form1" >
                      <option value="6_7">6点-7点</option>
                      <option value="7_8">7点-8点</option>
                      <option value="8_9">8点-9点</option>
                      <option value="9_10">9点-10点</option>
                      <option value="10_11">10点-11点</option>
                      <option value="11_12">11点-12点</option>
                      <option value="12_13">12点-13点</option>
                      <option value="13_14">13点-14点</option>
                      <option value="14_15">14点-15点</option>
                      <option value="15_16">15点-16点</option>
                      <option value="16_17">16点-17点</option>
                      <option value="17_18">17点-18点</option>
                      <option value="18_19">18点-19点</option>
                      <option value="19_20">19点-20点</option>
                      <option value="20_21">20点-22点</option>
                      <option value="21_22">21点-22点</option>
                      <option value="22_23">22点-23点</option>
                      <option value="23_24">23点-24点</option>
                    </select></td>
                </tr>
                <tr>
                  <td>9&nbsp;
                    <input type="radio" name="method" value="method9" onclick="onchangeradio(this,9)"></td>
                  <td>分时段网络</td>
                  <td><input type="number" name="method9" id="method9" min="5" max="30" step="5" value="5" class="hide" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="div_table_box">
        <div class="div_any_child_toolbar">
          <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">选择数据集</div>
          <div class="table_p">
            <table>
              <thead>
                <tr>
                  <th>dataset1&nbsp;
                    <input type="radio" name="dataset" value="dataset1.csv" /></th>
                  <th>dataset2&nbsp;
                    <input type="radio" name="dataset" value="dataset2.csv" /></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="bottom1">
        <input type="button" value="运行" onClick="sumbit_data()">
      </div>
    </form>
  </div>
  <div class="left div_any01">
    <div class="div_img">
      <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">分析结果展示 </div>
      <div id="div_img_show"><img id="final_image" class="images" src="{% static 'rhythm/img/instruction.png' %}"></div>
    </div>
  </div>
</div>
<!--分析图表-->
<div class="nav_charts_pie">
  <div class="static_top_pie left"> <i></i><span>POI类别统计</span> </div>
</div>
<div class="div_chart"> 
  <!--  <div class="margin_div_chart_item left div_chart_item">-->
  <div class="div_chart_item01">
    <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">POI大类热度统计 </div>
    <p id="chart_1" class="p_chart"><img id="image_pie" class="images" src="{% static 'rhythm/img/instruction_pie.png' %}"></p>
  </div>
  <form id="form2">
    <div class="div_pie_parameter">
      <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">参数设置</div>
      <ul class="div_pp_ul">
        <li>选择时间：
          <select name="method10" id="method10"  form="form2" >
            <option value="volvo">全天</option>
            <option value="saab">0点—1点</option>
            <option value="opel">1点-2点</option>
            <option value="audi">2点-3点</option>
            <option value="audi">3点-4点</option>
            <option value="audi">4点-5点</option>
            <option value="audi">5点-6点</option>
            <option value="audi">6点-7点</option>
            <option value="audi">7点-8点</option>
            <option value="audi">8点-9点</option>
            <option value="audi">9点-10点</option>
            <option value="audi">10点-11点</option>
            <option value="audi">11点-12点</option>
            <option value="audi">12点-13点</option>
            <option value="audi">13点-14点</option>
            <option value="audi">14点-15点</option>
            <option value="audi">15点-16点</option>
            <option value="audi">16点-17点</option>
            <option value="audi">17点-18点</option>
            <option value="audi">18点-19点</option>
            <option value="audi">19点-20点</option>
            <option value="audi">20点-22点</option>
            <option value="audi">21点-22点</option>
            <option value="audi">22点-23点</option>
            <option value="audi">23点-24点</option>
          </select>
        </li>
        <li>
          <div class="bottom2">
            <input type="button" value="运行" onClick="sumbit_data_line()">
          </div>
        </li>
      </ul>
    </div>
  </form>
  <!--  </div>--> 
</div>

<!--POI热度分层统计图，需求修改留存备用	-->
<div class="div_chart">
  <div class="margin_div_chart_item left div_chart_item">
    <div class="div_chart_item01">
      <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">POI大类热度统计 </div>
      <p id="chart_lines_1" class="p_chart"><img id="image_pie" class="images" src="{% static 'rhythm/img/instruction_pie.png' %}"></p>
    </div>
    <form id="form3">
      <div class="div_pie_parameter">
        <div class="div_any_title"><img src="{% static 'rhythm/img/title_4.png' %}">参数设置</div>
        <ul class="div_pp_ul">
          <li>选择时间：
            <select name="method11" id="method11"  form="form3" >
              <option value="volvo">全天</option>
              <option value="saab">0点—1点</option>
              <option value="opel">1点-2点</option>
              <option value="audi">2点-3点</option>
              <option value="audi">3点-4点</option>
              <option value="audi">4点-5点</option>
              <option value="audi">5点-6点</option>
              <option value="audi">6点-7点</option>
              <option value="audi">7点-8点</option>
              <option value="audi">8点-9点</option>
              <option value="audi">9点-10点</option>
              <option value="audi">10点-11点</option>
              <option value="audi">11点-12点</option>
              <option value="audi">12点-13点</option>
              <option value="audi">13点-14点</option>
              <option value="audi">14点-15点</option>
              <option value="audi">15点-16点</option>
              <option value="audi">16点-17点</option>
              <option value="audi">17点-18点</option>
              <option value="audi">18点-19点</option>
              <option value="audi">19点-20点</option>
              <option value="audi">20点-22点</option>
              <option value="audi">21点-22点</option>
              <option value="audi">22点-23点</option>
              <option value="audi">23点-24点</option>
            </select>
          </li>
          <li>
            <div class="bottom2">
              <input type="button" value="运行" onClick="sumbit_data_lines()">
            </div>
          </li>
        </ul>
      </div>
    </form>
  </div>
  <div class="left div_chart_item">
    <div class="div_chart_item01">
      <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">POI细分热度统计 </div>
		<p id="chart_lines_2" class="p_chart"><img id="image_lines_2" class="images" src="{% static 'rhythm/img/instruction_pie.png' %}"></p>    </div>
  </div>
</div>

<!--POI分布热力图-->
<!--
<div class="left div_chart_item">
  <div class="div_chart_item01">
    <div class="div_any_title"><img src="{% static 'rhythm/img/title_1.png' %}">数据统计热力图 </div>
    <div id="map_div"> </div>
  </div>
</div>
-->
<script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script> 
<!--	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>--> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script> 
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/jquery/jQuery-2.2.0.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/base.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_pie.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_road_section.js' %}"></script> 
<script type="text/javascript" src="{% static 'rhythm/js/chart_line.js' %}"></script> 
<!--<script type="text/javascript" src="{% static 'rhythm/js/map.js' %}"></script> -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j&callback"></script> 
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
</body>
</html>